:root {
  color-scheme: light;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 811px;
  background-color: #ffffff;
  overflow: hidden;
}

body {
  height: 811px;
  font-family: 'Google Sans Flex', system-ui, sans-serif;
}

#root {
  height: 100%;
}

.project-carousel {
  scrollbar-width: none;
}

.project-carousel::-webkit-scrollbar {
  display: none;
}
